
 <h2>Bienvenido iniciaste el juego</h2> <br><br>
 <label>#intentos : <%= @@intentos %></label> <br><br>
 <label><%= @mascara %></label> <br><br>

 <form method= "post" action= '/actualizar'>
 	<input type='text' name='letra' id='letra'>
 	<input type='submit' value='Adivinar' id="id_Adivinar">
 	<input type="hidden" name="palabra_secreta" value="<%=@@palabra_secreta%>">
 </form>

<label><%= @resultado %></label>

<form method="get" action= '/pista'>
 	<input type='submit' value='Ver Pista' id="ver_pista">
</form>

<% if(@@intentos <= 0) %>
	<label>La palabra secreta es: <%= @@palabra_secreta %></label>
<form method="get" action= '/'>
 	<input type='submit' value='Reiniciar Juego'>
</form>
<% end %>

<% if(@pista_habilitada) %>
Pista: <%=@pista%>
<% end %>
